<div class="">
<nav class="top-bar">
  <ul class="title-area">
    <!-- Title Area -->
  </ul>
  <section class="top-bar-section">
    <ul class="title-area">
      <li class="name">
        <a href="/">BLOGNation</a>
      </li>
    </ul>
    <!-- Right Nav Section -->
    <ul class="right">
      <li class="divider"></li>
      <li>
        <a href="/?sort=mostvoted">Most Voted</a>
      </li>
      <li class="divider"></li>
      <li>
        <a href="/?sort=mostrecent">Most Recent</a>
      </li>
      <li class="divider"></li>
      {% if user is defined %}
      <li class="has-dropdown">
	<a href="#">{{user.username}}</a>
	<!-- This dropdown will only show if a user is logged in -->
	<ul class="dropdown">
	  <li><a href="/users/{{user.username}}">Account Page</a></li>
	  <li><a href="/create-post">Create Post</a></li>
	  <li><a href="/change">Change Password</a></li>
	  <li><a href="/logout">Log Out</a></li>
	</ul>
      </li>
      {% else %}
      <li class="has-form">
        <a href="/login" class="button secondary">Login or Sign Up</a>
	<!-- This login button will only show if a user is not logged in -->
      </li>
      {% endif %}
      <li class="divider"></li>
      <li>
        <div class="small-8">
	  <form action=/search method=GET>
	    <div class="row collapse">
              <div class="large-8 columns">
                <input type="text" name="keyword" placeholder="Search">
              </div>
              <div class="large-4 columns">
                <input type="submit" value="Go" class="button secondary prefix">
              </div>
	    </div>
          </form>
    </div>
      </li>
    </ul>
  </section>
</nav>
</div>
<br>
