<head>
	<style>
		body {
			padding: 0;
			margin: 0;
		}
		#header {
			width:100%;
		}
		ul.menu {
			padding:0;
			margin:0;
			width:100%;
			list-style: none;
		}
		ul.menu > li {
			color:red;
			display:inline;
			font-size:2em;
			margin-right:33.33%;
			margin-left:0em;
		}
		ul.menu > li:first-child {
			margin-left:2.3em;
		}
		ul.menu > #active {
			font-size:3em;
		}
	</style>
</head>
<body>
	<div id="header">
		<ul class="menu">
			<li> Read </li>
			<li id="active"> Add </li>
			<li> Write </li>
		</ul>
	</div>
</body>
