<head>
	<link rel="stylesheet" href="../static/css/header.css" type="text/css">
	<link rel="stylesheet" href="../static/css/text.css" type="text/css">
	<link rel="stylesheet" href="../static/css/write.css" type="text/css">
	<script src="../static/js/text.js"> </script>
	<script>
		function conf(c) {
			console.log(c.charCode == 13);
			return c.charCode == 13;
		}
	</script>
	<style>
		.write {
			font-size:2em;
		}
		.content *{
			text-align:center;
			line-height:1em;
		}
	</style>
</head>
<body>

	<div id="header">
		<div class="centered"> 
			<ul class="menu">
				<li> <a href="read"> Read </a></li>
				<li id="active">Add </li>
				<li> <a href="write"> Write </a></li>
			</ul>
		</div>
	</div>
	<div class="content story">
			<span class="write prose">
				<form name="sentence" onsubmit="return false;" method="post" action="add">
					<textarea type="text" name="data" onKeypress="console.log(event);checkKey(this,event,conf);resize(this)" onkeydown="resize(this)" onkeyup="resizeIfDifferent(this)" placeholder="Name it." autofocus></textarea>
					<div id="confirm">
						<span>You feel good about this? </span>
						<ul>
							<li> <a href="#confirm" onclick="upload();"> Yes. </a> </li>
							<li> <a href="#confirm" onclick="edit()"> No. </a></li>
						</ul>
					</div>
				</form>
			</span>
		
	</div>
</body>
<hr>
{{username}}
