<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML//EN">
<head>
	<title>Register</title>
	<link href="../static/css/header.css" type="text/css" rel="stylesheet">
	<link href="../static/css/write.css" type="text/css" rel="stylesheet">
	<link href="../static/css/text.css" type="text/css" rel="stylesheet">
	<script src="../static/js/text.js">
	</script>
	<style>
		.write {
			display:block;
		}
	</style>
</head>
<body>
	<div class="content">
		{% if error %}
			<div id="error">
				{{error}}
			</div>
		{% endif %}
		<br />
		<span class="title">Register</span>
		<form method="POST" name="register">
			<div class="story">
				<div class="write">
				<input class="input" type="text" name="username" placeholder="Username"> 
				<br />
				<input class="input" type="password" name="password" placeholder="Password"> 
				<br />
				<input class="input" type="password" name="pw_verify" placeholder="Verify Password" onkeypress="checkKey(this,event,function() {return true}),this.focus()"> 
				<br />
				<div id="confirm"> 
					<span> I hope youre fond of that name. </span>
					<ul>
						<li > <a style="font-size: 1.2em" onclick="document.register.submit()" href="#confirm"> I am. </a> </li>
					</ul>
				</div>
				</div>
			</div>
		</form>
	</div>
</body> 

