<head>
	<link rel="stylesheet" href="../static/css/header.css" type="text/css">
	<link rel="stylesheet" href="../static/css/text.css" type="text/css">
</head>
<body>
	<div id="header">
		<div class="centered"> 
			<ul class="menu">
				<li id="active"> Read </li>
				<li><a href="add"> Add </a></li>
				<li><a href="write"> Write </a></li>
			</ul>
		</div>
	</div>
	<div class="content">
		<div class="story">
			<span class="title"> Title </span><br />
			<div class="prose"> 	Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec nunc nulla, congue non lorem vel, malesuada malesuada arcu. Nulla egestas purus eu libero molestie, eget gravida lorem tincidunt. Donec eget tortor porta, molestie libero in, feugiat lorem. Fusce pretium aliquet nulla. Vivamus aliquet, ipsum mattis imperdiet euismod, elit lorem condimentum elit, vitae dapibus lorem nibh ac augue. Curabitur facilisis tincidunt euismod. Sed molestie sodales vehicula. Pellentesque id adipiscing dui. Etiam vel luctus dolor. Suspendisse potenti. In vel bibendum libero, a sodales urna. Nulla facilisi. Aliquam erat volutpat.

	Fusce ut nisl nibh. Nullam ut risus bibendum, auctor neque ac, volutpat dui. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Pellentesque enim nisl, tincidunt sed ligula at, gravida suscipit ante. In hac habitasse platea dictumst. Integer pulvinar tempor lacus in euismod. Mauris ac nisi nisi. Nulla id pulvinar enim. Maecenas scelerisque diam ac nunc elementum, id molestie erat vulputate. Nullam nisl massa, auctor eu sapien sed, rutrum condimentum justo. Aliquam vel tellus eget dui condimentum ornare. Curabitur facilisis libero vitae odio porttitor, non porta lorem egestas.

	Donec auctor ac quam quis feugiat. Maecenas faucibus sodales bibendum. Donec dapibus sollicitudin adipiscing. Etiam tristique lectus nec erat elementum, ut tincidunt nisi blandit. Donec nibh urna, dapibus non porttitor at, feugiat eu dui. Maecenas ut sem placerat orci eleifend faucibus sit amet vitae lectus. Phasellus ac laoreet massa, eget ullamcorper nisi. Vivamus suscipit convallis sem, id tempor erat iaculis nec. Aenean pretium rutrum dapibus. Aliquam tincidunt neque quis commodo bibendum. Aliquam dignissim mauris ut mi pellentesque ullamcorper. Duis urna magna, venenatis sed nisi at, tempus egestas nisl.

	Duis facilisis mollis cursus. Quisque pharetra magna in posuere pulvinar. Nam id dui risus. Ut consequat tellus in lectus sollicitudin, accumsan viverra augue iaculis. Vivamus consectetur sapien id dolor condimentum feugiat. Suspendisse a urna vel leo iaculis venenatis at eget arcu. Donec egestas tempor dolor quis placerat.

	Vivamus quis gravida sem, at egestas odio. Etiam sollicitudin a quam sit amet sodales. Sed sollicitudin arcu lectus, quis sollicitudin arcu consectetur eu. Maecenas tristique elit et dictum tempus. Nullam rhoncus accumsan mi eu venenatis. Nullam dapibus, ipsum ut gravida ullamcorper, dolor mi tempus dolor, sit amet consequat est arcu ut mi. Morbi nec sapien vehicula, commodo augue sed, feugiat leo. Praesent pellentesque sed est at mattis.
			</div>
		</div>
	</div>
</body>
