<head>
	<link rel="stylesheet" href="../static/css/header.css" type="text/css">
	<link rel="stylesheet" href="../static/css/text.css" type="text/css">
	<link rel="stylesheet" href="../static/css/write.css" type="text/css">
	<script type="text/javascript" src="../static/js/text.js">
	</script>
</head>
<body>
	<div id="header">
		<div class="centered"> 
			<ul class="menu">
				<li><a href="read"> Read </a></li>
				<li><a href="add"> Add </a></li>
				<li id="active"> Write </li>
			</ul>
		</div>
	</div>
	<div class="content">
		  <span class="title">{{title}} </span><br />
			<span class="prose">
			{{story}}
			</span>
			<span class="write">
				<form name="sentence" onsubmit="return false;" method="post" action="write">
					<textarea class = "input" style="font-size:1.5em"type="text" name="data" onKeypress="checkKey(this,event);resize(this)" onkeydown="resize(this)" onkeyup="resizeIfDifferent(this)" placeholder="Write." autofocus></textarea>
					<div id="confirm">
						<span>You feel good about this? </span>
						<ul>
							<li> <a href="#confirm" onclick="upload();"> Yes. </a> </li>
							<li> <a href="#confirm" onclick="edit()"> No. </a></li>
						</ul>
					</div>
				</form>
			</span>
		</div>
	</div>
</body>
