<html>
	{% include "css.html" %}

<body>
	{% include "navbar.html" %}
  <div class="container">
    <div class="content">
      <div class="row">
        <div class="login-form">
          <h2>Login</h2>
		  {% if failed %}
			<p>Login failed, please try again</p>
		  {% endif %}
          <form method="POST">
            <fieldset>
              <div class="clearfix">
                <input type="text" placeholder="Username" name="username">
              </div>
              <div class="clearfix">
                <input type="password" placeholder="Password" name="password">
              </div>
              <button class="btn primary" type="submit">Sign in</button>
            </fieldset>
          </form>
        </div>
      </div>
    </div>
  </div> <!-- /container -->
</body>
</html>