<!DOCTYPE html>
<!--[if IE 8]> 				 <html class="no-js lt-ie9" lang="en" > <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en" > <!--<![endif]-->

<head>
	<meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>%(title)s</title>

  
  <link rel="stylesheet" href="css/foundation.css">
  

  <script src="js/vendor/custom.modernizr.js"></script>

</head>
<body>

<!-- Nav Bar -->
 
<div class="row">
<div class="large-12 columns">
<div class="nav-bar right">
<ul class="button-group">
<li><a href="home.html" class="button">Home</a></li>
<li><a href="login.html" class="button">Login</a></li>
<li><a href="register.html" class="button">Register</a></li>
</ul>
</div>
<h1>%(btitle)s <small>%(bdescription)s</small></h1>
<hr />
</div>
</div>
 
<!-- End Nav -->
 
 
<!-- Main Page Content and Sidebar -->
 
<div class="row">
 
<!-- Main Blog Content -->
<div class="large-9 columns" role="content">
 
<article>
 
<h3><a href="%(link)s">%(bposttitle)s</a></h3>
<h6>Written by <a href="%(facebook)s">%(name)s</a> on %(dates)s</h6>
 
<div class="row">
<div class="large-6 columns">
<!-- Text goes here -->
</div>
<div class="large-6 columns">
<!-- if needed img src="http://placehold.it/400x240&text=[img]" / -->
</div>
</div>
</article>
 
<hr />
 
 
</div>
 
<!-- End Main Content -->
 
 
<!-- Sidebar -->
 
<aside class="large-3 columns">
 
<h5>Archives</h5>
<ul class="side-nav">
<li><a href="#">Yesterday</a></li>
<li><a href="#">Last Week</a></li>
<li><a href="#">Last Month</a></li>
<li><a href="#">Last Year</a></li>
<li><a href="#">All</a></li>
</ul>
 
<div class="panel">
<h5>Featured</h5>
<p>
%(randomblog)s
</p>
<a href="#">Read More &rarr;</a>
</div>
 
</aside>
 
<!-- End Sidebar -->
</div>
 
<!-- End Main Content and Sidebar -->
 
 
<!-- Footer -->
 
<footer class="row">
<div class="large-12 columns">
<hr />
<div class="row">
<div class="large-6 columns">
<p>&copy; Copyright SoftDev Period 7</p>
</div>
<div class="large-6 columns">
<ul class="inline-list right">
<li><a href="https://www.facebook.com/noah.rosenberg3?fref=ts">Noah (Supreme Leader)</a></li>
<li><a href="https://www.facebook.com/its.only.lifee?fref=ts">Kelvin (Frontend)</a></li>
<li><a href="https://www.facebook.com/michele.lin.5?fref=ts">Michele (Middleware)</a></li>
<li><a href="https://www.facebook.com/kyo341?fref=ts">Hanson (Backend)</a></li>
</ul>
</div>
</div>
</div>
</footer>

  <script>
  document.write('<script src=' +
  ('__proto__' in {} ? 'js/vendor/zepto' : 'js/vendor/jquery') +
  '.js><\/script>')
  </script>
  
  <script src="js/foundation.min.js"></script>
  <!--
  
  <script src="js/foundation/foundation.js"></script>
  
  <script src="js/foundation/foundation.interchange.js"></script>
  
  <script src="js/foundation/foundation.abide.js"></script>
  
  <script src="js/foundation/foundation.dropdown.js"></script>
  
  <script src="js/foundation/foundation.placeholder.js"></script>
  
  <script src="js/foundation/foundation.forms.js"></script>
  
  <script src="js/foundation/foundation.alerts.js"></script>
  
  <script src="js/foundation/foundation.magellan.js"></script>
  
  <script src="js/foundation/foundation.reveal.js"></script>
  
  <script src="js/foundation/foundation.tooltips.js"></script>
  
  <script src="js/foundation/foundation.clearing.js"></script>
  
  <script src="js/foundation/foundation.cookie.js"></script>
  
  <script src="js/foundation/foundation.joyride.js"></script>
  
  <script src="js/foundation/foundation.orbit.js"></script>
  
  <script src="js/foundation/foundation.section.js"></script>
  
  <script src="js/foundation/foundation.topbar.js"></script>
  
  -->
  
  <script>
    $(document).foundation();
  </script>

</body>
</html>
