<html><head><title>Oops!</title></head>
<body>
<br>
<br>
<h1><font size = 40 color = "pink" face = "Garamond">Oops!</font>
<marquee behavior = "scroll" direction = "down">
<img src = "Sadface.png" height = 300 width = 300>
</marquee>
</h1>
<br>
<h4><font color = "pink face = "Garamond>Apparently there are no blogs available for you to view! Would you like to register and make a blog?</font></h4>
<a href = "register.html">
<input type = "button" value = "Yes">
</a>
<br>
<a href = "home.html">
<input type = "button" value = "No" onclick = "home.html">
</a>
<br>








</body>
</html>
