<html><head><title>Welcome</title></head>
<body>
<br>
<br>
<br>
<br>
<br>
<br>

<marquee behavior = "alternate"><h1><font color = "orange" face = "Garamond" size = 40> 
WELCOME!
</font></h1></marquee>

<center><h4><font color = "aqua" face = "Garamond">
Please login to access your blog!
</font></h4></center>

<center><form method = "post">
<table border = "1" cellpadding = 5>
<tr><th>
<font color = "aqua" face = "Garamond">Username:</font> 
<input type = "text" name = Username> <br>
</th></tr>
<br>
<tr><th>
<font color = "aqua" face = "Garamond">Password:</font> 
<input type = "password" name = Password> <br>
</th></tr>
</table>
<br>
<input type = "submit" value = "Enter">
<br>
</form>
</center>
<br>
<center><h4><font color = "aqua" face = "Garamond"> 
<a href = "register.html"> Register for a blog! </a>
</font></h4></center>

<br>
<center><h4><font color = "aqua" face = "Garamond"> 
<a href = "Error.html">Or you can simply go on and view all the blogs!*</a>
</font></h4></center>
<br>
<br>
<h5 align = right><font color = "aqua" face = "Garamond"> 
*You do not have the ability to comment using this                   
</font></h5>




<style>
body 
{
background-color: green;
}
</style>
















</body>


</html>
