<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
      </button>
      
      <a class="brand" href="/"> Storyinator </a>
      
      <div class="nav-collapse collapse">
	<ul class="nav">
	  <li class="active"> <a href="/"> Home </a> </li>
	  <li> <a href="#stories"> Stories </a> </li>
	  {% if loggedIn %}
	  <li> <a href="/account"> Account </a> </li>
	  {% endif %}
	</ul>
	
	{% if not loggedIn %} 
	<form class="navbar-form pull-right" method="POST">
	  <input class="span2" type="text" name="username" placeholder="Username">
	  <input class="span2" type="password" name="password" placeholder="Password">
	  <div class="btn-group">
	    <button class="btn btn-primary" name="button" value="Log in"> Log in </button>
	    <button class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
	      <span class="caret"> <span>
	    </button>
	    <ul class="dropdown-menu">
	      <li class="active"><a href="/login"> Google+ </a> </li>
	      <li class="active"><a href="/login"> Facebook </a> </li>
	    </ul>
	    
	    <button class="btn btn-primary" name="button" value="Register"> Register </button>
	  </div>
	</form>
	{% else %}
	<a href="/logout" class="btn btn-primary pull-right"> Logout </a>
	{% endif %}
      </div>
    </div>
  </div>
</div>
			   
