<!DOCTYPE html>
<!--[if IE 8]> 	<html class="no-js lt-ie9" lang="en" > <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en" > <!--<![endif]-->

<head>
	<meta charset="utf-8" />
  <meta name="viewport" content="width=device-width" />
  <title>Welcome</title>

  
  <link rel="stylesheet" href="{{ url_for('static', filename='css/foundation.css') }}">
  

  <script src="{{ url_for('static', filename='js/vendor/custom.modernizr.js') }}"></script>

</head>
<body>

 <div class="row">
<div class="large-3 columns">
<h1><img src="/img/Logo.png" ></h1>
</div>
<div class="large-9 columns">
<ul class="right button-group">
<li><a href="login" class="button">Login</a></li>
<li><a href="register" class="button">Register</a></li>
<li><a href="create" class="button">Create</a></li>
<li><a href="logout" class="button">Logout</a></li>
<li><a href="blog" class="button">Blog</a></li>
<li>{{Username}}</li>
</ul>
</div>
</div>
<!-- End Header and Nav -->
 
<!-- First Band (Slider) -->
 
<div class="row">
<div class="large-12 columns">
<div id="slider">
<ul data-orbit>
<li>
<img src="img/Banner.jpg" />
</li>
<li>
<img src="img/Banner2.jpg" />
</li>
<li>
<img src="img/Banner3.jpg">
</li>
<li>
<img src="img/Banner4.jpg">
</li>

</ul>
</div>
<hr />
</div>
</div>
<!-- Three-up Content Blocks -->
 
<div class="row">
<div class="large-4 columns">
<img src="{{ url_for('static', filename='img/Section.jpg') }}" >
<h4>View our blog without logging in!</h4>
<p> Click <a href = "blogs">Here</a> to start</p>
</div>
<div class="large-4 columns">
<img src="{{ url_for('static', filename='img/Section3.jpg')}}" >
<h4>View Tons of blogs without an account!</h4>
<p>
Too Lazy to make an account? Or you just want to check out your friend's blog on the go without the hassle? Start Viewing blogs <a href = "blog1"> Here </a>
</p>
</div>
<div class="large-4 columns">
<img src="{{ url_for('static', filename='img/Section2.jpg')}}" >
<h4>It's free! Just have fun!</h4>
<p>Get crazy with it!</p>
</div>
</div>
<!-- Call to Action Panel -->
<div class="row">
<div class="large-12 columns">
<div class="panel">
<h4>View the Github!</h4>
<div class="row">
<div class="large-9 columns">
<p>Visit our Software Development website and our github!</p>
</div>
<div class="large-3 columns">
<a href="http://stuycs-softdev.github.io/" class="radius button right">Poof!</a>
</div>
</div>
</div>
</div>
</div>
 

<!-- Footer -->
<footer class="row">
<div class="large-12 columns">
<hr />
<div class="row">
<div class="large-6 columns">
<p>&copy; Copyright SoftDev Period 7</p>
</div>
<div class="large-6 columns">
<ul class="inline-list right">
<li><a href="https://www.facebook.com/noah.rosenberg3?fref=ts">Noah (Supreme Leader)</a></li>
<li><a href="https://www.facebook.com/its.only.lifee?fref=ts">Kelvin (Frontend)</a></li>
<li><a href="https://www.facebook.com/michele.lin.5?fref=ts">Michele (Middleware)</a></li>
<li><a href="https://www.facebook.com/kyo341?fref=ts">Hanson (Backend)</a></li>
</ul>
</div>
</div>
</div>
</footer>

  <script>
  document.write('<script src=' +
  ('__proto__' in {} ? {{ url_for('static', filename='js/vendor/zepto')}} : {{ url_for('static', filename='js/vendor/jquery')}}) +
  '.js><\/script>')
  </script>
  
  <script src="{{ url_for('static', filename='js/foundation.min.js')}}"></script>
  <!--
  <script src="js/foundation/foundation.js"></script>
  
  <script src="/js/foundation/foundation.interchange.js"></script>
  
  <script src="/js/foundation/foundation.abide.js"></script>
  
  <script src="/js/foundation/foundation.dropdown.js"></script>
  
  <script src="/js/foundation/foundation.placeholder.js"></script>
  
  <script src="/js/foundation/foundation.forms.js"></script>
  
  <script src="/js/foundation/foundation.alerts.js"></script>
  
  <script src="/js/foundation/foundation.magellan.js"></script>
  
  <script src="/js/foundation/foundation.reveal.js"></script>
  
  <script src="/js/foundation/foundation.tooltips.js"></script>
  
  <script src="/js/foundation/foundation.clearing.js"></script>
  
  <script src="/js/foundation/foundation.cookie.js"></script>
  
  <script src="/js/foundation/foundation.joyride.js"></script>
  
  <script src="/js/foundation/foundation.orbit.js"></script>
  
  <script src="/js/foundation/foundation.section.js"></script>
  
  <script src="/js/foundation/foundation.topbar.js"></script>
  
  -->
  
  <script>
    $(document).foundation();
  </script>

</body>
</html>
