<!DOCTYPE html>

<html>
  <head>
    {% include "lib.html" %}
    <title> Account Settings </title>
  </head>

  <body>
    {% include "navbar.html" %}
    {% if error %}
    <div class="alert alert-error" style="width:350px; margin:0px auto 0px auto" align="center">
      Password was not changed successfully.
    </div>
    {% endif %}
    {% if success %}
    <div class= "alert alert-success" style="width:350px; margin:0px auto 0px auto" align="center">
      Password was changed successfully.
    </div>
    {% endif %}
    <form align="center" method="POST">
      <h3> Change Password </h3>
      <p> Current Password: <input type="password" name="pw" placeholder="********"> </p>
      <p> New Password: <input type="password" name="npw" placeholder="********"> </p>
      <input type="submit" name="button" value="Sumbit">
    </form>
  </body>
</html>
