<!DOCTYPE html>

<html>
  <head>
    {% include "lib.html" %}
    <title> Account Settings </title>
  </head>

  <body>
    {% include "navbar.html" %}
    {% if error %}
    	<div class="alert alert-error" align="center"
    	 	 style="width:350px; margin:0px auto 0px auto">
      	  Password was not changed successfully.
    	</div>
    {% endif %}
    {% if success %}
    	<div class= "alert alert-success" align="center"
    	 	 style="width:350px; margin:0px auto 0px auto">
      	  Password was changed successfully.
    	</div>
    {% endif %}
    <form align="center" method="POST">
      <h3> Change Password </h3>
      <input type="password" name="pw" placeholder="Password"><br>
      <input type="password" name="npw" placeholder="New password"><br>
      <input type="password" name="npwcf" placeholder="Confirm password">
      <br>
      <input type="submit" name="button" value="Sumbit">
    </form>
  </body>
</html>
