<!DOCTYPE html>

<html lang = "en">
  
  <head>
    {% include "lib.html" %}

    <title> Storyinator </title>    

  </head>
  
  <body>
    {% include "navbar.html" %}
    {% if error %}
    <div class="alert alert-error" style="width:350px; margin:0px auto 0px auto" align="center">
      Incorrect username and password combination.
    </div>
    {% endif %}
    <div class="container">
      
      <div class="hero-unit">
	<h1> The Storyinator </h1>
	<p> Welcome to the Storyinator. </p>
      </div>
      
    </div>
    
    <div class="container">
      <h4> Story Title </h4>
      <div class="well">
	Story 1
      </div>
      <h4> Story Title </h4>
      <div class="well">
	Story 2
      </div>
      <h4> Story Title </h4>
      <div class="well">
	Story 3
      </div>
    </div>
    
    <hr>
    
    <footer>
      <p> &copy; League of Awesome 2013 </p>
    </footer>
  
	{% include "google-login.html" %}
  </body>
  
</html>
