<!DOCTYPE html>
<html>
	<head>
		<title>Register</title>

		{% include "lib.html" %}
	</head>

	<body>
		{% include "navbar.html" %}
		
		<div class="row-fluid span2" style="text-align:center">
			<form>
				<input name="usern" type="text" class="span2"
				   	   placeholder="Username"><br>
				<input name="passw" type="password" class="span2"
				   	   placeholder="Password"><br>
				<input name="passwconf" type="password" class="span2"
				   	   placeholder="Confirm password"><br>
				<input value="Create account" type="submit"
				   	   class="btn btn-primary"><br>
			</form>
		</div>
	</body>
</html>
