<!DOCTYPE html>
<html>
  <head> 
    <title> {{ story['title'] }} </title>

    {% include "lib.html" %}
  </head>

  <body>
    {% include "navbar.html" %}

    <div align="center">
    	<h3> {{ story['title'] }} </h3>
    	<h4> Created by <a href="/profile/{{ story['author'] }}"> {{ story['author'] }} </a> </h4>
    	{% for line in story['lines'] %}
		<p> {{ line }} </p>
    	{% endfor %}

		{% if d['loggedIn'] %}
    	<form method="POST" align="center">
      	  <h4> Add to the story below: </h4>
      	  <textarea name="line" style="width:300px; height=300px; resize:none" required></textarea>
      	  <br>
      	  <input type="submit" name="button" value="Add">
    	</form>
    	{% endif %}
    </div>
  </body>
</html>
