<!DOCTYPE html>
<html>
  <head> 
    <title> {{ story['title'] }} </title>

    {% include "lib.html" %}
  </head>

  <body>
    {% include "navbar.html" %}

    <h3 align="center"> {{ story['title'] }} </h3>
    <h4 align="center"> Created by {{ story['author'] }} </h4>
    {% for line in story['lines'] %}
	<p> {{ line }} </p>
    {% endfor %}

	{% if d['loggedIn'] %}
    <form method="POST" align="center">
      <h4> Add to the story below: </h4>
      <textarea name="line" style="width:300px; height=300px; resize:none" required></textarea>
      <br>
      <input type="submit" name="button" value="Add">
    </form>
    {% endif %}
  </body>
</html>
