body {
	padding: 0;
	margin: 0;
	color:#0a0a0a;
}
a {
	text-decoration:none;
	color:inherit;
	border-bottom:.1em solid black;
}
ul {
	list-style: none;
}
.content {
	width:75%;
	margin:auto;
	text-align:justify;
}
#header {
	width:100%;
	position:relative;
	margin-bottom:10px;
}
#logout {
    float: right;
    margin: 10px;
}
div.centered
{
	width:450px;
	margin:auto;
}
ul.menu {
	padding:5px;
	padding:10px;
}
ul.menu > li {
	display:inline;
	font-size:2em;
	text-align:center;
	margin:20px;
}
ul.menu > #active {
	font-size:3em;
}
