body {
	padding: 0;
	margin: 0;
	color:#0a0a0a;
}
a {
	text-decoration:none;
	color:inherit;
	border-bottom:.1em solid black;
}
#header {
	width:100%;
	position:relative;
	margin-bottom:10px;
}
div.centered
{
	position:absolute;
	left:50%;
}
div.centered>*
{
	position:relative;
	left:-50%;

}
ul.menu {
	padding:5px;
	list-style: none;
	padding:10px;
}
ul.menu > li {
	display:inline;
	font-size:2em;
	text-align:center;
	margin:20px;
}
ul.menu > #active {
	font-size:3em;
}
