<!DOCTYPE html>
<html>
<head>
<title> Login</title>
<meta charset = "UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="../static/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
<script src="../static/jquery-2.0.3.js"></script>
<script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
<script src="../static/bootstrap/js/bootstrap.js"></script>
</head>

<body>
<div class = "container">
<h1> <font color = "cornflowerblue"> Login </font></h1>
<table class = "table table-hover">
  <tr> <td>
    <form role="form">
    <div class="form-group">
      <label for="InputUsername">Username</label>
      <input type="text" class="form-control" id="username" placeholder="Enter username">
    </div>
    <div class="form-group">
      <label for="InputPassword">Password</label>
      <input type="password" class="form-control" id="pw" placeholder="Password">
    </div>
    <button type="submit" class="btn btn-default">Submit</button>
    </form>
  </td></tr>

  <tr> <td> <font color = "indigo"> Register </font> </td> </tr>
  <tr> <td> <font color = "indigo"> Home </font> </td> </tr>

</table>
</div>
</body>
</html>
