<!DOCTYPE html>

<html lang = "en">
<head>
<title> Login</title>
<meta charset = "UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
{% include "toolbar.html" %}
</head>

<body>
<div class = "container">
<h1> <font color = "cornflowerblue"> Login </font></h1>
<table class = "table table-hover">
  <tr> <td>
    <form method ="POST" role="form">
    <div class="form-group">
      <font color="red"> {{response}}</font>
      <label for="InputUsername">Username</label>
      <input type="text" class="form-control" name="username" placeholder="Enter username">
    </div>
    <div class="form-group">
      <label for="InputPassword">Password</label>
      <input type="password" class="form-control" name="pw" placeholder="Password">
    </div>
    <button type="input" class="btn btn-default" name="Submit">Submit</button>
    <br><br>


    </form>
  </td></tr>


</table>
</div>
</body>
</html>
