<html>
  <head>
    <meta charset = "utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title> My Account </title>  
    {% include "toolbar.html" %}
  </head>
  
  <body>
    
        <div class="container">   
          <div style="width:50%;">
	    
	    
            <div class="header"> 
              <h1> <font color = "cornflowerblue"> Welcome {{name}} </font></h1>
              <a href="/manage" class="btn btn-default">Change Password</a>
            </div>
            <div class="span4">
	      <h3> Posts: </h3>
	      {% set x = 0 %}
	      {% for post in blogs %}
	      <h5> {{post[x][0]}} posted at: {{post[x][1]}}</h5>
	      {{post[x][2]}}
	      {% set x = x + 1 %}
	      {% endfor %}
              <div class = "row">
                <div class = "span4">
                </div>
              </div>
            </div>
            </div>
	  
        </div>
</div>
	
</body>
</html>

