<!DOCTYPE html>

<html>
  <head>
    <title>New Posts</title>
    <meta charset="UTF-8">
    <script src="../static/jquery-2.0.3.js"></script>
    <meta name="viewport" content="width=device-width">
    {% include "toolbar.html" %}
    
  </head>
  <body>
    <div class="container">
      <form method="POST" >
	<div class="hero-unit">
	  
          <h2>Post something new!</h2>
	  <front color="red">{{m}}</front>
	  <h4> Title </h4>
	  <textarea style="width: 500px;height:20px;"name="title"></textarea>
	  <h4> Post </h4>
          <textarea style="width:500px;height:200px;max-width:1040px;" name="content"  ></textarea>
          <br/><br/>
          <button type="input" class="btn-large btn" name="submit"> SUBMIT POST</button>
      </form>
      </div>
    </div>
  </body>
</html>
