<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>{{text[0][0]}}</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width">
	{% include "toolbar.html" %}
    </head>
    <body>  
      <div class="container">
        <div class="accordion" id="accordion1">
          <div class="according-groups">
            <div class="accordion-heading">
              <a class="accordion-toggle" data-toggle="collapse" data-parent="accordion1" href="#collapseOne">
                <span style="font-size:30px;"> {{text[0][0]}}</span> <span style="font-size:12px"> posted at: {{text[0][1]}}</span>
                        </a>
            </div>
            <div id="collapseOne" class="accordion-body collapse in">
              <div class="accordion-inner">
		
                <div class="hero-unit" style="max-width:1040px">
                  {{text[0][2]}}
                </div>
              </div>
	    </div>
	  </div>
	</div>
        <div style="width:800px; margin-left:auto; margin-right:0px" class="accordion" id="accordion2">
          <div class="according-groups">
            <div class="accordion-heading">
              <a class="accordion-toggle" data-toggle="collapse" data-parent="accordion2" href="#collapseTwo">
                <span style="font-size:20px;">Comments</span>
              </a>              
            </div>
            <div id="collapseTwo" class="accordion-body collapse in">
              <div class="accordion-inner">
		{% if loggedin %}
		<form method = "POST">
		  <textarea style="width:750px;height:75px;" name="comment"></textarea>
		  <button class="btn default-btn" name="btn" value="write">Comment</button>
		</form>
		{% else %}
		<a href="{{url_for('login')}}">Log In to comment</a>
		{% endif %}		
		{% for e in text[2] %}
		{% set i = '%s'%(e) %}
		<div class="hero-unit">
		  <font style="font-size:20px" color="cornflowerblue">{{text[1][i][0]}} said on {{text[1][i][1]}}</font>
		  <br>
		  <font style="font-size:15px">{{text[1][i][2]}}</font>
		  <br>
		  <font style="font-size:12px">{{text[1][i][3]}} people liked this</font>
		  <form method = "POST">
		  <button class="btn default-btn pull-right" name="btn" value="{{i}}">Like</button>
		  </form>
                </div>
		{% endfor %}
              </div>
	      
            </div>
	    
          </div>
	  
        </div>
      </div>
      
    </body>
</html>
