<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>All posts</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width">
        <script src="./jquery-2.0.3.js"></script>
        <link rel="stylesheet" type="text/css" href="./bootstrap/css/bootstrap.css">
        <link rel="stylesheet" type="text/css" href="./bootstrap/css/bootstrap-responsive.css">
        <script src="./bootstrap/js/bootstrap.js"></script>  
    </head>
    <body>  
        <div class="navbar navbar-inverse">
            <div class="navbar-inner">
                <div class="container">
                    <a href="#" class="brand">Our blog</a>
                    <div class="nav-collapse collapse"></div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="accordion" id="accordion1">
                <div class="according-groups">
                    <div class="accordion-heading">
                        <a class="accordion-toggle" data-toggle="collapse" data-parent="accordion1" href="#collapseOne">
                            <h3>Post Title</h3>
                        </a>
                    </div>
                    <div id="collapseOne" class="accordion-body collapse in">
                        <div class="accordion-inner">

                            <div class="hero-unit" style="max-width:1040px">
                                POST CONTENT
                                POST CONTENT
                                POST CONTENT
                                STUFFS.
                                STUFFS I DO IN THE DAY
                                STUFFS.
                                I DIDN'T POOP TODAY
                                I NEED TO PEE.
                                I'M HUNGRY
                                I'M THIRSTY
                                YO TENGO HAMBRE.

                            </div>
                        </div>

                    </div>

                </div>

                <div class="accordion" id="accordion2">
                    <div class="according-groups">
                        <div class="accordion-heading">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="accordion2" href="#collapseTwo">
                                <h3>Post Title</h3>
                            </a>
                        </div>
                        <div id="collapseTwo" class="accordion-body collapse in">
                            <div class="accordion-inner">

                                <div class="hero-unit" style="max-width:1040px">
                                    POST CONTENT
                                    POST CONTENT
                                    POST CONTENT
                                    STUFFS.
                                    STUFFS I DO IN THE DAY
                                    STUFFS.
                                    I DIDN'T POOP TODAY
                                    I NEED TO PEE.
                                    I'M HUNGRY
                                    I'M THIRSTY
                                    YO TENGO HAMBRE.

                                </div>
                            </div>

                        </div>
                    </div>
                </div>

            </div>
        </div>
        
    </body>
</html>
