<!DOCTYPE html>
<html>
<head>
<title> Register </title>
<meta charset = "UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="./bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
<script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
<script src="./bootstrap/js/bootstrap.js"></script>
</head>

<body>
<div class = "container">
<h1> <font color = "cornflowerblue"> Register </font></h1>
<table class = "table table-hover">
  <tr> <td>
    <form role="form">
      <div class="form-group">
      <label for="InputFirstname">First Name</label>
      <input type="text" class="form-control" id="InputFirstname" placeholder="First Name">
    </div>
      <div class="form-group">
      <label for="InputLastname">Last Name</label>
      <input type="text" class="form-control" id="InputLastname" placeholder="Last Name">
    </div>
    <div class="form-group">
      <label for="InputUsername">Username</label>
      <input type="text" class="form-control" id="InputUsername" placeholder="Enter username">
    </div>
    <div class="form-group">
      <label for="InputPassword">Password</label>
      <input type="password" class="form-control" id="InputPassword" placeholder="Password">
    </div>
    <div class="form-group">
      <label for="InputConfirmedPassword">Confirm Password</label>
      <input type="text" class="form-control" id="InputConfirmedPassword" placeholder="Confirm Password">
    </div>
    <button type="submit" class="btn btn-default">Submit</button>
    </form>
  </td></tr>
</table>


</div>
</body>
