<html><head><title>Register</title></head>
<body>
<br>
<br>
<h1><font size = "40" face = "Garamond" color = "green" >REGISTRATIONS</font></h1>
<h4><font color = "blue" face = "Garamond">
Enter your desired username and password!
</font></h4>
<form method = "post">
<table border = "1" cellpadding = 5 cellspacing = 5>
<tr><th>
<font color = "blue" face = "Garamond">Username:</font> 
<input type = "text" name = Username> <br>
</th></tr>
<br>
<tr><th>
<font color = "blue" face = "Garamond">Password:</font> 
<input type = "password" name = Password> <br>
</th></tr>
<br>
<tr><th>
<font color = "blue" face = "Garamond">Confirm Password:</font>
<input type = "password" name =CPassword> <br>
</th></tr>
</table>
<br>
<input type = "submit" value = "Enter">
<br>
</form>
<style>
body
{
background-color:orange;
}
</style>




</body>
</html>
