{% include "include/headtag.html" %}
<body>
{% include "include/topbar.html" %}

<div class="row">
  <div class="large-8 large-centered columns blogtitle" style="background:#000038;">
    <br>
    <h3 align="center">Welcome to</h3>
    <center>
      <img align="center" src="../static/images/bloglogo.png">
    </center>
    <br>
    <br>
    <br>
  </div>
</div>
<br>
<div class="row">
  <h1 class="subheader" align="center">Posts</h1>
  <div class="large-10 large-centered columns blogtitle">
    {% for p in posts %}
    <br>
    <h4><a href="/posts/{{p.get_id()}}">{{p.title}}</a></h4>
    <h6><i>Posted by </i><a href="/users/{{p.user}}">{{p.user}}</a><i> on {{p.get_datestring()}}</i></h6>
    <p>{{p.body}}</p>
    {% for tag in p.tags %}
    <span class="radius secondary label"><a href="/search?keyword={{tag}}">{{tag}}</a></span>
    {% endfor %}
    <br><br>
    <p><i>{{p.upvotes}} upvote(s)</i> {% if user is defined %}<a href="/vote-up?pid={{p.get_id()}}&last=/">upvote</a>{% endif %}</p>
    <hr>
    {% endfor %}
  </div>
</div>



{% include "include/scripts.html" %}

</body>
