{% include "jinja_include/headtag.html" %}
<body>
{% include "jinja_include/topbar.html" %}

<div class="row">
  <div class="large-8 large-centered columns blogtitle">
    <br>
    <h3 align="center">Welcome to</h3>
    <center>
      <img align="center" src="../static/images/bloglogo.png">
    </center>
    <br>
    <br>
    <p><center><h4 align="center">Our Mission</h4>
      Our mission here at BLOGNation is to be the awesomest. That's literally it. Yup. And it's going to be achieved through multi-user blogging. Yes. Shoot, even Washington got across the Delaware with multi-user blogging.</center>
    </p>
    <br>
  </div>
</div>
<br>
<div class="row">
  <div class="large-8 large-centered columns blogtitle">
    {% for p in posts %}
    <br>
    <h4><a href="/posts/{{p.get_id()}}">{{p.title}}</a></h4>
    <h6><a href="/users/{{p.user}}">{{p.user}}</a> at <i>{{p.date}}</i></h6>
    <p><i>This has been upvoted {{p.upvotes}} time(s)</i></p>
    <p>{{p.body}}</p>
    <hr>
    {% endfor %}
  </div>
</div>



{% include "jinja_include/scripts.html" %}

</body>
