{% include "jinja_include/headtag.html" %}
<body>
{% include "jinja_include/topbar.html" %}

<div class="row">
  <div class="large-8 large-centered columns blogtitle">
    <br>
    <h3>Welcome to</h3>
    <img src="../static/images/bloglogo.png">
    <br>
    <br>
    <p><h3>Our Mission</h3>
      Our mission here at BLOGNation is to be the awesomest. That's literally it. Yup. And it's going to be achieved through multi-user blogging. Yes. Shoot, even Washington got across the Delaware with multi-user blogging.
    </p>
    <br>
  </div>
</div>


{% include "jinja_include/scripts.html" %}

</body>
