{% include "include/headtag.html" %}
<body>

{% include "include/topbar.html" %}

<div class="row">
<div class="large-10 large-centered  columns blogtitle">
  <div class="row">
    <div class="large-11 small-centered columns">
      <legend class="blogtitle"><h1><a href="/posts/{{post.get_id()}}">{{post.title}}</a></h1></legend>
      <h6><i>Posted by </i><a href="/users/{{post.user}}">{{post.user}}</a><i> on {{post.get_datestring()}}</i></h6>
      <p>{{post.body}}</p>
      <p><i>{{post.upvotes}} upvote(s)</i> {% if user is defined %}<a href="/vote-up?pid={{post.get_id()}}&last=/posts/{{post.get_id()}}">upvote</a>{% endif %}</p>
      {% for tag in post.tags %}
      <span class="radius secondary label"><a href="/search?keyword={{tag}}">{{tag}}</a></span>
      {% endfor %}
      <hr>
    </div>
  </div>
  <div class="row">
    <div class="large-11 large-centered columns">
      <!--legend class="blogtitle"><h2 >Comments</h2></legend-->
	{% if user is defined %}
	<form method="POST">	  
	  <legend class="blogtitle"><h4>Leave a Comment</h4></legend>
	  <div class="row">
	    <div class="large-12 columns">
	      <textarea type="text" name="comment" placeholder="Type here..."></textarea>
	    </div>
	  </div>
	  <input type="submit" name="button" value="Comment" class="button small secondary">
	</form>
	{% endif %}

	<h4>Comments</h4>
	<dl>

	  {% for c in post.get_comments() %}
	  <dt><a href="/user/{{c.user}}">{{c.user}}</a></dt>
          <dd>{{c.text}}<br> at<i> {{c.date}}</i></dd>
	  {% endfor %}
	  
	</dl>
    </div>
  </div>
</div>
</div>

{% include "include/scripts.html" %}

</body>
