
{% include "jinja_include/headtag.html" %}
<body>

{% include "jinja_include/topbar.html" %}

<div class="row">

<!--div class="large-2 push-10 columns">
  <div class="section-container accordion" data-section="accordion">
    <div class="section">
      <p class="title" data-section="title"><a href="/users/{#{user.username}#}"><u><b>{#{user.username}#}</b></u></a></p>
    </div>
  </div>
</div-->


<div class="large-10 large-centered  columns blogtitle">
  
  <div class="row">
    <div class="large-11 small-centered columns">
      <legend class="blogtitle"><h1><a href="/posts/{#{post.get_id()}#}">{{post.title}}</a></h1></legend>
      <h6><i>Posted by </i><a href="/users/{{post.user}}">{{post.user}}</a><i> on {#{post.get_datestring()}#}</i></h6>
      <p>{{post.body}}</p>
      <p><i>{{post.upvotes}} upvote(s)</i> {% if user is defined %}<a href="/vote-up?pid={#{post.get_id()}#}&last=home">upvote</a>{% endif %}</p>
      <hr>
    </div>
  </div>
  <div class="row">
    <div class="large-10 large-centered columns">
      
      <!--legend class="blogtitle"><h2 >Comments</h2></legend-->
      <div class="row">
	
	{% if user is defined %}
	<form>	  
	  <legend class="blogtitle"><h4>Leave a Comment</h4></legend>
	  <div class="row">
	    <div class="large-12 columns">
	      <textarea placeholder="Type here..."></textarea>
	    </div>
	  </div>
	  <a href="#" class="button secondary small">Comment!</a>
	</form>
	{% endif %}

	<h4>Comments</h4>
	<dl>
	  <dt><u><a href="#">User4</a>:</u></dt>
	  <dd>at <i>10/28/2013 7:20</i><br>This is User4's comment.</dd>
	  <dt><u><a href="#">User3</a>:</u></dt>
	  <dd>at <i>10/23/2013 21:18</i><br>This is User3's comment. And, for some reason, User3's comment is really long. So long that it touches the edge and goes back to the beginning so Yaseen can see what it looks like when dictionary data elements have multiple lines!</dd>
	</dl>
	
      </div>
      
    </div>
  </div>
</div>


{% include "jinja_include/scripts.html" %}
</body>
