{% include "include/headtag.html" %}

<body>

{% include "include/topbar.html" %}

<div class="row">
  <div class="large-7 large-centered columns blogtitle">
    <div class="row">
      <div class="large-12 columns">
	<form class="large-12 columns" method="POST">
	  <fieldset>
	    <legend class="blogtitle">Sign Up</legend>
	    <div class="row">
	      <div class="large-12 columns">
		{% if error is defined %}
		{% if error == "alreadyregistered" %}
		<h4 style="color:red;">Already Registered</h4>
		{% endif %}
		{% endif %}
		<label class="topdiv-text">Username</label>
		<input type="text" name="username">
	      </div>
	    </div>
	    <div class="row">
	      <div class="large-12 columns">
		<label class="topdiv-text">Password</label>
		<input type="password" name="password">
              </div>
            </div>
	    <div class="row">
	      <div class="large-12 columns">
		<label class="topdiv-text">Confirm Password</label>
		<input type="password" name="confirm password">
	      </div>
	    </div>
	    <div class="row">
	      <div class="large-12 columns">
		<input type="submit" name="Submit" value="Register" class="button small secondary">
	      </div>
	    </div>
	  </fieldset>
	</form>
      </div>
    </div>
  </div>
</div>

{% include "include/scripts.html" %}

</body>
