<html>
    {% include "style.html" %}
    <body>
        {% include "navbar.html" %}

        <div class="container">
            <h2 class="text-center">New Title</h2>
			<form method="POST">
				<textarea class="form-control" rows="1" name="newtitle"></textarea>
				<br>
				<button type="Submit" class="btn btn-primary pull-right" name="submit">Submit</button>
			</form>
			<br>
            <hr>
            <br>
            {% for edit in story.content %}
            <a href="/stories/fork/{{story['id']}}/{{edit[1]}}" title="Fork from this Edit!">{{ edit[0] }}</a>
            {% endfor %}

            {% if logged_in or debug is defined %}
            <hr>
            <div class="appendarea">
                <h4 class="text-center">Submit to this Story</h4>
                <form method="POST">
                    <textarea class="form-control" rows="3" name="text"></textarea>
                    <br>
                    <button type="Submit" class="btn btn-primary pull-right" name="submit">Submit</button>
                </form>
            </div>
            {% endif %}
        </div>

    </body>
</html>
