<html>
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap.css') }}" />
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}"/>

    <style>

    </style>
    <body>
        <div class="container">
            <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
                <a href="/" class="navbar-brand" >Onesuppon</a>

                <div class="btn-group navbar-nav navbar-right">
                    <a href="/login" class="btn btn-default navbar-btn" >Login</a>
                    <a href="/register" class="btn btn-default navbar-btn" >Register</a>
                </div>
            </nav>

            <div class="spacer"></div> <!-- A space -->
            <div class="list-group">
                {% for story in stories %}
                <a href="/stories/{{ story.id }}" class="list-group-item">
                    <h4 class="list-group-item-heading">{{ story.title }}</h4>
                    <p class="list-group-item-text">{{ story.description }}</p>
                </a>
                {% endfor %}
            </div>
        
    </div>
    </body>

</html>
