<html>

    <style>

        ul {
            list-style-type: none;
        }

        li {
            border-bottom-width: 1px;
            border-bottom-color: gray;
            border-bottom-style: solid;
            margin-bottom: 20px;
        }
        
        li:hover {
            background-color: gray;
        }
    </style>
    <body>
        <h2>Onesuppon</h2>
        
        <div class="buttons">
            <button class="btn btn-large btn-primary" type="button">Login</button>
            <button class="btn btn-large btn-primary" type="button">Register</button>
        </div>


        <h3>Stories:</h3>
        <ul>
            <li class="story_block"> <div class="story_title">Story 1</br><br>
            <div class="story_description">Description one</div></li>
            <li class="story_block"> <div class="story_title">Story 2</br><br>
            <div class="story_description">This is a description we make this cool</div></li>
            <li class="story_block"> <div class="story_title">Story 3</br><br>
            <div class="story_description">Yet another description, make it pretty</div></li>


        </ul>
        
    </body>

</html>
