<html>

    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap.css') }}" />
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}"/>

    <body>
	<body background="/images/image_name.gif" bgcolor="orange">
	<img src="http://ts4.mm.bing.net/th?id=H.4945269425373263&pid=1.7" width="65" height="65" >			
		<br><br><br>
	<h> 
	<p>
		<p style="font-size:18px;color:#fff;text-shadow:1px 1px 8px #000;"><b> Welcome to the Login Page. </b> </p>
	
	</p>
	</h>
		<br><br><br>
        <div class="container">

		<Strong> Please enter Username and Password. </Strong> <br><br>
            <form method="POST">
                <input type="text" class="form-control" placeholder="Username">
                <input type="password" class="form-control" placeholder="Password">
                <button class="btn btn-default btn-primary pull-right" type="Submit" name="Login">Login</button>
            </form>
		<br><br>
		</div>
		<Weak> Forgot Password? </Weak> 	
		<br>
		<button class="btn btn-default btn-primary pull-right" type="Submit" name="Reset Password">Reset Password</button> 
		<button class="btn btn-default btn-primary pull-right" type="Submit" name="Register">Register</button> 
	
		<button class="btn btn-default btn-primary pull-right" type="Submit" name="Home">Back to Homepage</button>
	
	  </div>
    </body>

	
	
	
</html>
