<html>

    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap.css') }}" />
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}"/>

    <body>
	<body background="/images/image_name.gif" bgcolor="orange">
	<img src="http://ts4.mm.bing.net/th?id=H.4945269425373263&pid=1.7" width="65" height="65" >			
		<br>
		<br>
		<br>
	<h> 
		<b> Welcome to the Login Page. </b> 
	</h>
		<br>
		<br>
		<br>
	
        <div class="container">

            <form method="POST">
                <input type="text" class="form-control" placeholder="Username">
                <input type="password" class="form-control" placeholder="Password">
                <button class="btn btn-default btn-primary pull-right" type="Submit" name="Login">Login</button>
            </form>
        </div>
    </body>


</html>
