<html>
{% include "style.html" %}

    <body>
        {% include "navbar.html" %}


        <div class="container">
		<form role="form">
		<h3> Register for a Onesuppon Account </h3> <br><br>
	
		<div class="form-group">
			<label for="exampleInputEmail1">New Username</label>
		<input type="Username" class="form-control" id="username" placeholder="Username">
			</div>
		<div class="form-group">
			<label for="exampleInputPassword1">Password</label>
			<input type="password" class="form-control" id="password" placeholder="Password">
		</div>
		<div class="form-group">
			<label for="exampleInputPassword1">Re-Enter Password</label>
			<input type="password" class="form-control" id="password" placeholder="Password">
		</div>
		<button type="submit" class="btn btn-default">Submit</button>
</form>
         <!-- <form role="form" method="POST" class="form-horizontal pull-left">
		
		<h2> Register for a Onesuppon Account </h2> <br><br>
			Name:
			<div class="form-group">
			<input type="text" class="form-control" id="Name" placeholder="Name">
			</div>
				  
			New Username:
			<div class="form-group">
			<input type="text" class="form-control" id="Username" placeholder="Username">
			</div>
			Enter Password:
			<div class="form-group">
			<input type="Password" class="form-control" id="password" placeholder="Password">
			</div>
			Re-enter Password:
			<div class="form-group">
			<input type="Password" class="form-control" id="password" placeholder="Password">
			</div>
			<span class="form-group ">

             <button class="btn btn-default btn-primary" type="Submit" name="Register">Register</button>
		
					</span>
                </div>
            </form> -->
        </div>
    </body>


</html>
